In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\HP\Downloads\New folder\fraudTrain.csv")

In [3]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [4]:
df.shape

(1296675, 23)

In [5]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [6]:
df.drop(['Unnamed: 0','trans_date_trans_time','cc_num','merchant', 'first','last','street','city','zip','lat','long','dob','trans_num','unix_time','merch_lat','merch_long',],axis=1,inplace=True)

In [7]:
df.head()

,category,amt,gender,state,city_pop,job,is_fraud
0,misc_net,4.97,F,NC,3495,"Psychologist, counselling",0
1,grocery_pos,107.23,F,WA,149,Special educational needs teacher,0
2,entertainment,220.11,M,ID,4154,Nature conservation officer,0
3,gas_transport,45.00,M,MT,1939,Patent attorney,0
4,misc_pos,41.96,M,VA,99,Dance movement psychotherapist,0

In [8]:
# Checking null values
df.isnull().sum()

category    0
amt         0
gender      0
state       0
city_pop    0
job         0
is_fraud    0
dtype: int64

In [9]:
# Converting categorical columns to numerical columns

In [10]:
df['category'].unique()

array(['misc_net', 'grocery_pos', 'entertainment', 'gas_transport',
       'misc_pos', 'grocery_net', 'shopping_net', 'shopping_pos',
       'food_dining', 'personal_care', 'health_fitness', 'travel',
       'kids_pets', 'home'], dtype=object)

In [11]:
category_df=pd.get_dummies(df['category']).astype('int')

In [12]:
category_df.head()

,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,home,kids_pets,misc_net,misc_pos,personal_care,shopping_net,shopping_pos,travel
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [13]:
df.drop(columns=['category'],inplace=True)

In [14]:
df.head()

      amt gender state  city_pop                                job  is_fraud
0    4.97      F    NC      3495          Psychologist, counselling         0
1  107.23      F    WA       149  Special educational needs teacher         0
2  220.11      M    ID      4154        Nature conservation officer         0
3   45.00      M    MT      1939                    Patent attorney         0
4   41.96      M    VA        99     Dance movement psychotherapist         0

In [15]:
df=pd.concat([df,category_df],axis=1)

In [16]:
df.head()

,amt,gender,state,city_pop,job,is_fraud,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,home,kids_pets,misc_net,misc_pos,personal_care,shopping_net,shopping_pos,travel
0,4.97,F,NC,3495,"Psychologist, counselling",0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,107.23,F,WA,149,Special educational needs teacher,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,220.11,M,ID,4154,Nature conservation officer,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,45.00,M,MT,1939,Patent attorney,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,41.96,M,VA,99,Dance movement psychotherapist,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [17]:
df['gender'].unique()

array(['F', 'M'], dtype=object)

In [18]:
df['gender'].replace({'M':0,'F':1},inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_37936\434213008.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace({'M':0,'F':1},inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_37936\434213008.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'].replace({'M':0,'F':1},inplace=True)

In [19]:
df['gender'].unique()

array([1, 0])

In [20]:
df['state'].unique()

array(['NC', 'WA', 'ID', 'MT', 'VA', 'PA', 'KS', 'TN', 'IA', 'WV', 'FL',
       'CA', 'NM', 'NJ', 'OK', 'IN', 'MA', 'TX', 'WI', 'MI', 'WY', 'HI',
       'NE', 'OR', 'LA', 'DC', 'KY', 'NY', 'MS', 'UT', 'AL', 'AR', 'MD',
       'GA', 'ME', 'AZ', 'MN', 'OH', 'CO', 'VT', 'MO', 'SC', 'NV', 'IL',
       'NH', 'SD', 'AK', 'ND', 'CT', 'RI', 'DE'], dtype=object)

In [21]:
state_df=pd.get_dummies(df['state'],drop_first=True).astype('int')

In [22]:
state_df.head()

,AL,AR,AZ,CA,CO,CT,DC,DE,FL,GA,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [23]:
df.drop(['state'],axis=1,inplace=True)

In [24]:
df.head()

,amt,gender,city_pop,job,is_fraud,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,home,kids_pets,misc_net,misc_pos,personal_care,shopping_net,shopping_pos,travel
0,4.97,1,3495,"Psychologist, counselling",0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,107.23,1,149,Special educational needs teacher,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,220.11,0,4154,Nature conservation officer,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,45.00,0,1939,Patent attorney,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,41.96,0,99,Dance movement psychotherapist,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [25]:
df=pd.concat([df,state_df],axis=1)

In [26]:
df.head()

,amt,gender,city_pop,job,is_fraud,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,4.97,1,3495,"Psychologist, counselling",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,107.23,1,149,Special educational needs teacher,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,220.11,0,4154,Nature conservation officer,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45.00,0,1939,Patent attorney,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,41.96,0,99,Dance movement psychotherapist,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [27]:
df['job'].unique()

array(['Psychologist, counselling', 'Special educational needs teacher',
       'Nature conservation officer', 'Patent attorney',
       'Dance movement psychotherapist', 'Transport planner',
       'Arboriculturist', 'Designer, multimedia',
       'Public affairs consultant', 'Pathologist', 'IT trainer',
       'Systems developer', 'Engineer, land', 'Systems analyst',
       'Naval architect', 'Radiographer, diagnostic',
       'Programme researcher, broadcasting/film/video', 'Energy engineer',
       'Event organiser', 'Operational researcher', 'Market researcher',
       'Probation officer', 'Leisure centre manager',
       'Corporate investment banker', 'Therapist, occupational',
       'Call centre manager', 'Police officer',
       'Education officer, museum', 'Physiotherapist', 'Network engineer',
       'Forensic psychologist', 'Geochemist',
       'Armed forces training and education officer',
       'Designer, furniture', 'Optician, dispensing',
       'Psychologist, forensic', 'Librarian, public', 'Fine artist',
       'Scientist, research (maths)', 'Research officer, trade union',
       'Tourism officer', 'Human resources officer', 'Surveyor, minerals',
       'Applications developer', 'Video editor', 'Curator',
       'Research officer, political party', 'Engineer, mining',
       'Education officer, community', 'Physicist, medical',
       'Amenity horticulturist', 'Electrical engineer',
       'Television camera operator', 'Higher education careers adviser',
       'Ambulance person', 'Dealer', 'Paediatric nurse',
       'Trading standards officer', 'Engineer, technical sales',
       'Designer, jewellery', 'Clinical biochemist',
       'Engineer, electronics', 'Water engineer', 'Science writer',
       'Film/video editor', 'Solicitor, Scotland',
       'Product/process development scientist', 'Tree surgeon',
       'Careers information officer', 'Geologist, engineering',
       'Counsellor', 'Freight forwarder',
       'Senior tax professional/tax inspector',
       'Engineer, broadcasting (operations)',
       'English as a second language teacher', 'Economist',
       'Child psychotherapist', 'Claims inspector/assessor',
       'Tourist information centre manager',
       'Exhibitions officer, museum/gallery', 'Location manager',
       'Engineer, biomedical', 'Research scientist (physical sciences)',
       'Purchasing manager', 'Editor, magazine features',
       'Operations geologist', 'Interpreter', 'Engineering geologist',
       'Agricultural consultant', 'Paramedic', 'Financial adviser',
       'Administrator, education', 'Educational psychologist',
       'Financial trader', 'Audiological scientist',
       'Scientist, audiological',
       'Administrator, charities/voluntary organisations',
       'Health service manager', 'Retail merchandiser',
       'Telecommunications researcher', 'Exercise physiologist',
       'Accounting technician', 'Product designer',
       'Waste management officer', 'Mining engineer', 'Surgeon',
       'Therapist, horticultural', 'Environmental consultant',
       'Broadcast presenter', 'Producer, radio',
       'Engineer, communications',
       'Historic buildings inspector/conservation officer',
       'Teacher, English as a foreign language', 'Materials engineer',
       'Health visitor', 'Medical secretary', 'Theatre director',
       'Technical brewer', 'Land/geomatics surveyor',
       'Engineer, structural', 'Diagnostic radiographer',
       'Television production assistant', 'Medical sales representative',
       'Building control surveyor', 'Therapist, sports',
       'Structural engineer', 'Commercial/residential surveyor',
       'Database administrator', 'Exhibition designer',
       'Training and development officer', 'Mechanical engineer',
       'Medical physicist', 'Administrator', 'Mudlogger',
       'Fisheries officer', 'Conservator, museum/gallery',
       'Programmer, multimedia', 'Cytogeneticist',
       'Multimedia programmer', 'Counselling psychologist', 'Chiropodist',
       'Teacher, early years/pre', 'Cartographer', 'Pensions consultant',
       'Primary school teacher', 'Electronics engineer',
       'Museum/gallery exhibitions officer', 'Air broker',
       'Chemical engineer', 'Advertising account executive',
       'Advertising account planner',
       'Chartered legal executive (England and Wales)',
       'Psychiatric nurse', 'Secondary school teacher',
       'Librarian, academic', 'Embryologist, clinical', 'Immunologist',
       'Television floor manager', 'Contractor', 'Health physicist',
       'Copy', 'Bookseller', 'Land', 'Chartered loss adjuster',
       'Occupational psychologist', 'Facilities manager',
       'Further education lecturer', 'Archivist', 'Investment analyst',
       'Engineer, building services', 'Psychologist, sport and exercise',
       'Journalist, newspaper', 'Doctor, hospital', 'Phytotherapist',
       'Pharmacologist', 'Horticultural therapist', 'Hydrologist',
       'Community arts worker', 'Public house manager', 'Architect',
       'Lexicographer', 'Psychotherapist, child',
       'Teacher, secondary school', 'Toxicologist',
       'Commercial horticulturist', 'Podiatrist', 'Building surveyor',
       'Architectural technologist', 'Editor, film/video',
       'Social researcher', 'Wellsite geologist', 'Minerals surveyor',
       'Designer, ceramics/pottery', 'Mental health nurse',
       'Volunteer coordinator', 'Chief Technology Officer',
       'Camera operator', 'Copywriter, advertising', 'Surveyor, mining',
       'Product manager', "Nurse, children's", 'Pension scheme manager',
       'Archaeologist', 'Sub', 'Designer, interior/spatial',
       'Futures trader', 'Chief Financial Officer',
       'Museum education officer', 'Quantity surveyor',
       'Physiological scientist', 'Loss adjuster, chartered',
       'Pilot, airline', 'Production assistant, radio',
       'Immigration officer', 'Retail banker',
       'Health and safety adviser', 'Teacher, special educational needs',
       'Jewellery designer', 'Community pharmacist',
       'Control and instrumentation engineer', 'Make',
       'Early years teacher', 'Sales professional, IT',
       'Scientist, marine', 'Intelligence analyst',
       'Clinical research associate', 'Administrator, local government',
       'Barrister', 'Engineer, control and instrumentation',
       'Clothing/textile technologist', 'Development worker, community',
       'Art therapist', 'Sales executive',
       'Armed forces logistics/support/administrative officer',
       'Optometrist', 'Insurance underwriter', 'Charity officer',
       'Civil Service fast streamer', 'Retail buyer',
       'Magazine features editor', 'Equities trader',
       'Trade mark attorney', 'Research scientist (life sciences)',
       'Psychotherapist', 'Pharmacist, community', 'Risk analyst',
       'Engineer, maintenance', 'Logistics and distribution manager',
       'Water quality scientist', 'Lecturer, further education',
       'Production assistant, television', 'Tour manager',
       'Music therapist', 'Surveyor, land/geomatics',
       'Engineer, production', 'Acupuncturist', 'Hospital doctor',
       'Teacher, primary school', 'Accountant, chartered public finance',
       'Illustrator', 'Scientist, physiological', 'Buyer, industrial',
       'Scientist, research (physical sciences)', 'Radio producer',
       'Manufacturing engineer', 'Animal technologist',
       'Production engineer', 'Biochemist, clinical',
       'Engineer, manufacturing', 'Comptroller',
       'General practice doctor', 'Designer, industrial/product',
       'Prison officer', 'Merchandiser, retail', 'Engineer, drilling',
       'Engineer, petroleum', 'Cabin crew', 'Commissioning editor',
       'Accountant, chartered certified', 'Local government officer',
       'Professor Emeritus', 'Press sub',
       'Chartered public finance accountant', 'Writer',
       'Chief Executive Officer', 'Occupational hygienist',
       'Doctor, general practice', 'Community education officer',
       'Landscape architect', 'Occupational therapist',
       'Special effects artist', 'Civil engineer, contracting',
       "Barrister's clerk", 'Travel agency manager',
       'Associate Professor', 'Neurosurgeon', 'Plant breeder/geneticist',
       'Radio broadcast assistant', 'Field seismologist',
       'Industrial/product designer', 'Metallurgist',
       "Politician's assistant", 'Insurance claims handler',
       'Theme park manager', 'Gaffer', 'Chief Strategy Officer',
       'Heritage manager', 'Ceramics designer', 'Animator',
       'Oceanographer', 'Colour technologist', 'Engineer, agricultural',
       'Therapist, drama', 'Orthoptist', 'Learning mentor',
       'Arts development officer', 'Biomedical engineer',
       'Race relations officer', 'Therapist, music', 'Retail manager',
       'Furniture designer', 'Building services engineer',
       'Maintenance engineer', 'Aid worker', 'Editor, commissioning',
       'Private music teacher', 'Scientist, biomedical',
       'Public relations account executive', 'Dispensing optician',
       'Advice worker', 'Hydrographic surveyor', 'Geoscientist',
       'Environmental health practitioner', 'Learning disability nurse',
       'Chief Operating Officer', 'Scientific laboratory technician',
       'Records manager', 'Barista', 'Marketing executive',
       'Tax inspector', 'Musician', 'Therapist, art',
       'Engineer, automotive', 'Clinical psychologist', 'Warden/ranger',
       'Surveyor, rural practice', 'Sport and exercise psychologist',
       'Education administrator', 'Chief of Staff',
       'Nurse, mental health', 'Music tutor',
       'Planning and development surveyor',
       'Teaching laboratory technician', 'Chief Marketing Officer',
       'Theatre manager', 'Quarry manager',
       'Interior and spatial designer', 'Lecturer, higher education',
       'Regulatory affairs officer', 'Secretary/administrator',
       'Chemist, analytical', 'Designer, exhibition/display',
       'Pharmacist, hospital', 'Site engineer',
       'Equality and diversity officer', 'Public librarian',
       'Town planner', 'Chartered accountant', 'Programmer, applications',
       'Manufacturing systems engineer', 'Web designer',
       'Community development worker', 'Animal nutritionist',
       'Petroleum engineer', 'Information systems manager',
       'Press photographer', 'Insurance risk surveyor', 'Soil scientist',
       'Buyer, retail', 'Public relations officer',
       'Health promotion specialist', 'Psychiatrist',
       'Visual merchandiser', 'Rural practice surveyor', 'Hotel manager',
       'Communications engineer', 'Insurance broker',
       'Radiographer, therapeutic', 'Set designer', 'Tax adviser',
       'Drilling engineer', 'Fitness centre manager', 'Farm manager',
       'Management consultant', 'Energy manager',
       'Museum/gallery conservator', 'Herbalist', 'Osteopath',
       'Statistician', 'Hospital pharmacist', 'Estate manager/land agent',
       'Sports development officer', 'Investment banker, corporate',
       'Biomedical scientist', 'Television/film/video producer',
       'Nutritional therapist', 'Company secretary', 'Production manager',
       'Magazine journalist', 'Media buyer', 'Data scientist',
       'Engineer, civil (contracting)', 'Herpetologist',
       'Garment/textile technologist', 'Scientist, research (medical)',
       'Civil Service administrator', 'Airline pilot', 'Textile designer',
       'Environmental manager', 'Furniture conservator/restorer',
       'Horticultural consultant', 'Firefighter',
       'Geophysicist/field seismologist', 'Psychologist, clinical',
       'Development worker, international aid', 'Sports administrator',
       'IT consultant', 'Presenter, broadcasting',
       'Outdoor activities/education manager', 'Field trials officer',
       'Social research officer, government',
       'English as a foreign language teacher',
       'Restaurant manager, fast food', 'Hydrogeologist',
       'Research scientist (medical)', 'Designer, television/film set',
       'Geneticist, molecular', 'Designer, textile',
       'Licensed conveyancer', 'Emergency planning/management officer',
       'Geologist, wellsite', 'Air cabin crew', 'Seismic interpreter',
       'Surveyor, hydrographic', 'Charity fundraiser', 'Stage manager',
       'Aeronautical engineer', 'Glass blower/designer', 'Ecologist',
       'Horticulturist, commercial', 'Research scientist (maths)',
       'Engineer, aeronautical',
       'Conservation officer, historic buildings', 'Art gallery manager',
       'Advertising copywriter', 'Engineer, civil (consulting)',
       'Oncologist', 'Engineer, materials',
       'Scientist, clinical (histocompatibility and immunogenetics)',
       'Investment banker, operational', 'Medical technical officer',
       'Academic librarian', 'Artist', 'Clinical cytogeneticist',
       'TEFL teacher', 'Administrator, arts', 'Teacher, adult education',
       'Catering manager', 'Environmental education officer',
       'Conservator, furniture', 'Analytical chemist',
       'Broadcast engineer', 'Media planner', 'Lawyer',
       'Producer, television/film/video',
       'Armed forces technical officer', 'Engineer, site',
       'Contracting civil engineer', 'Veterinary surgeon',
       'Sales promotion account executive', 'Broadcast journalist',
       'Dancer', 'Forest/woodland manager', 'Personnel officer',
       'Industrial buyer', 'Accountant, chartered',
       'Air traffic controller', 'Careers adviser', 'Information officer',
       'Ship broker', 'Legal secretary', 'Homeopath', 'Solicitor',
       'Warehouse manager'], dtype=object)

In [28]:
df['job'].nunique()

494

In [29]:
job_df=pd.get_dummies(df['job']).astype('int')

In [30]:
job_df.head()

,Academic librarian,"Accountant, chartered","Accountant, chartered certified","Accountant, chartered public finance",Accounting technician,Acupuncturist,Administrator,"Administrator, arts","Administrator, charities/voluntary organisations","Administrator, education",...,Visual merchandiser,Volunteer coordinator,Warden/ranger,Warehouse manager,Waste management officer,Water engineer,Water quality scientist,Web designer,Wellsite geologist,Writer
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df.drop(['job'],axis=1,inplace=True)

In [32]:
df=pd.concat([df,job_df],axis=1)

In [33]:
df.shape

(1296675, 562)

In [34]:
df.head()

,amt,gender,city_pop,is_fraud,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,...,Visual merchandiser,Volunteer coordinator,Warden/ranger,Warehouse manager,Waste management officer,Water engineer,Water quality scientist,Web designer,Wellsite geologist,Writer
0,4.97,1,3495,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,107.23,1,149,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,220.11,0,4154,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45.00,0,1939,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,41.96,0,99,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# dividing the data into x and y

X=df.drop('is_fraud',axis=1)
y=df['is_fraud']

In [37]:
X.head()

,amt,gender,city_pop,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,home,...,Visual merchandiser,Volunteer coordinator,Warden/ranger,Warehouse manager,Waste management officer,Water engineer,Water quality scientist,Web designer,Wellsite geologist,Writer
0,4.97,1,3495,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,107.23,1,149,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,220.11,0,4154,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45.00,0,1939,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,41.96,0,99,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

In [39]:
y.value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

In [ ]:
# Handling imbalanced data using SMOTE

from sklearn.model_selection import train_test_split

X_small, _, y_small, _ = train_test_split(X, y, train_size=0.2, stratify=y, random_state=42)
from imblearn.over_sampling import SMOTE
smote = SMOTE(sampling_strategy='minority', random_state=42)
X, y = smote.fit_resample(X_small, y_small)

In [44]:
y.value_counts()

is_fraud
0    257834
1    257834
Name: count, dtype: int64

In [45]:
X.shape

(515668, 561)

In [48]:
# Data Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X[:] = scaler.fit_transform(X[:])

MemoryError: Unable to allocate 2.16 GiB for an array with shape (561, 515668) and data type float64